@page
@model JNmish11.Pages.AddCartModel
@{
}

<h1>Your Cart</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Book.Title</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-rigth">$25</td>
                <td class="text-right">@((l.Quantity * 25).ToString("c"))></td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-rigth">Total:</td>
            <td class="text-rigth">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>